.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

/* TODO: styling class= 'Cards' & local styling on components */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80vw;
  height: fit-content;
  background-color: rgb(29, 187, 255);
  margin: auto;
  padding: 40px;
  border-radius: .5rem;
}

.card input {
  margin: 20px;
  font-size: x-large;
  width: 60px;
  text-align: center;
}
